* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: "Inconsolata", monospace;
    scroll-behavior: smooth;
}

#burger-menu {
    display: none;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(213, 211, 211);
    position: fixed;
    z-index: 1000;
    top: 0;
}

#links-nav.scrolled {
    background:#270101;
    transition: .5s ease-in-out;
}

#links-nav, #address-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 3rem;
}

#address-nav.scrolled {
    display: none;
    transition: .5s ease-in-out;
}

 #logo img {
    height: 60px;
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 1.2rem;
}

.nav-links li a {
    position: relative;
    color: rgb(213, 211, 211);
    text-decoration: none;
    font-size: clamp(.2rem, 1.3vw + .1rem, 1rem);
    font-weight: 300;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    background: rgb(213, 211, 211);
    transition: width 0.3s;
    left: 0;
    bottom: -4px;
}

.nav-links li a.active {
    color: rgb(247, 243, 236);
}

.nav-links li a:hover::after,
.nav-links li a.active::after {
    width: 100%;
    color: rgb(247, 243, 236);
}

#search-bar {
    display: flex;
    align-items: center;
}

#search-bar form {
    display: flex;
    align-items: center;
}

#search-bar input, #search-bar button {
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    color: rgb(213, 211, 211);
}

#search-bar input {
    width: calc(100% - 10px);
    max-width: 200px;
    padding: 0 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: transparent;
}

#search-bar input::placeholder{
    font-size: 11px;
    color: rgb(184, 179, 179);
    letter-spacing: 1.2px;
    font-weight: lighter;
}

#search-bar button {
    background: #270101;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 15px;
    justify-content: center;
    cursor: pointer;
}

#search-bar .btn i {
    color: rgb(213, 211, 211);
    font-size: clamp(.2rem, 1.3vw + .1rem, .8rem);
}

#search-bar button:hover {
    background-color: #3e0202;
    transition: .5s ease-in-out;
}

#contact {
    display: flex;
    margin: auto;
}

#contact h4 {
    padding: 0 1.5rem;
    font-size: clamp(.2rem, 1.3vw + .1rem, .9rem);
    font-weight: 300;
}

#contact h4 i {
    margin-right: 5px;
    font-size: clamp(.2rem, 1.3vw + .1rem, .9rem);
}

#auth a {
    margin: 0 5px;
    padding: 7px 10px;
    text-decoration: none;
    font-size: clamp(.1rem, 1.3vw + .1rem, .8rem);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    cursor: pointer;
    background: transparent;
    color: rgb(213, 211, 211);
    font-weight: 300;
    letter-spacing: 1px;
}

#auth a i {
    margin-right: 5px;
    font-size: 10px;
}

#line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.05);
}

section {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

#page1 {
    height: 60vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#page1 #page-1-container-position {
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

#page1 #page-1-container-position .page-1-container-content {
    width: 100%;
}

#page1 #page-1-container-position .page-1-container-content h4 {
    color: rgb(220, 216, 216);
    padding: clamp(0.5rem, 2vw, 1.3rem) 0;
    font-size: clamp(1rem, 2.5vw, 1.7em);
    font-weight: lighter;
}

#page1 #page-1-container-position .page-1-container-content .subscribe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#page1 #page-1-container-position .page-1-container-content .subscribe-container input {
    width: 100%;
    max-width: 300px;
    height: 50px;
    padding-left: 20px;
    border: none;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

#page1 #page-1-container-position .page-1-container-content .subscribe-container button {
    border: none;
    outline: none;
    background: none;
    color: white;
    background-color: #270101;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
    padding: 0 1rem;
    margin-left: -.5rem;
    cursor: pointer;
}

#page1 #page-1-container-position .page-1-container-content .subscribe-container button:hover {
    background-color: #3e0202;
    transition: .5s ease-in-out;
}

#page1 a {
    text-decoration: none;
    position: relative;
    z-index: 1;
    position: relative;
    left: 48%;
    top: 25%;
}

#page1 .btn-1 {
    border: 1px solid rgba(135, 131, 131, .2);
    background-color: #270101;
    padding: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
}

#page1  .btn-1 i {
    font-size: 1em;
    color: white;
}

#page1 .btn-1:hover {
    background-color: #3e0202;
    transition: .5s ease-in-out;
}

#page1 .animated-bg {
    background-image: url(../../images/mortal-kombat.jpeg);
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: animateBg 20s linear infinite;
    background-blend-mode: multiply;
}

@keyframes animateBg {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

}

#page2 {
    height: auto;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

#loadingSpinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#loadingSpinner.d-none {
    display: none;
}

#loadingSpinner .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loadingSpinner .load .spinner {
    border: 0.5rem solid #f3f3f3;
    border-top: 0.5rem solid #270101;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    animation: spin 1s linear infinite;
}

#loadingSpinner .spinner .visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#page2 #page-form {
    position: relative;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(94, 0, 0, .1);
}

#page2 #page-form #error-message {
    display: none;
    background-color:#270101;
    padding: clamp(1rem, 2vw, 2rem) 10px;
    width: 100%;
    box-sizing: border-box;
}

#page2 #page-form #error-message.error {
    background-color: #270101;
    color: #ffebee; 
    border: none; 
}

#page2 #page-form #error-message.success {
    background-color: rgb(60, 131, 65);
    color: #e8f5e9; 
    border: none; 
}

#page2 #page-form #error-message #error-text {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: clamp(.1rem, 2vw + .1rem, 1rem);
    text-align: center;
}

#page2 #page-form #input-fields {
    padding: 5%;
}

#page2 #page-form #input-fields .input-box-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

#page2 #page-form #input-fields .input-box-container .input-box-content {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

#page2 #page-form #input-fields .input-box-container .input-box-content .input-box {
    position: relative;
    width: 100%;
    height: 40px;
    color: #270101;
}

#page2 #page-form #input-fields .input-box-container .input-box-content .input-box input,
#page2 #page-form #input-fields .input-box-container .input-box-content .input-box textarea {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #fff;
    resize: none;
}

#page2 #page-form #input-fields .input-box-container .input-box-content .input-box .input-box-text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 15px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

#page2 #page-form #input-fields .input-box-container .input-box-content .input-box input:focus+.input-box-text,
#page2 #page-form #input-fields .input-box-container .input-box-content .input-box input:valid+.input-box-text,
#page2 #page-form #input-fields .input-box-container .input-box-content .input-box textarea:focus+.input-box-text,
#page2 #page-form #input-fields .input-box-container .input-box-content .input-box textarea:valid+.input-box-text {
    top: -35px;
    left: -10px;
}

#page2 #page-form #input-fields .input-box-container .input-box-content .input-box .input-box-lines {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #270101;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

#page2 #page-form #input-fields .input-box-container .input-box-content .input-box input:focus~.input-box-lines,
#page2 #page-form #input-fields .input-box-container .input-box-content .input-box input:valid~.input-box-lines,
#page2 #page-form #input-fields .input-box-container .input-box-content .input-box textarea:focus~.input-box-lines,
#page2 #page-form #input-fields .input-box-container .input-box-content .input-box textarea:valid~.input-box-lines {
    height: 100%;
}

#page2 #page-form #input-fields .input-box-container .input-box-content .input-box.textarea {
    position: relative;
    width: 100%;
    padding: 10px 0;
}

#page2 #page-form #input-fields .input-box-container .input-box-content input[type="submit"] {
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background-color: #270101;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
    transition: .5s;
    float: left;
}

#page2 #page-form #input-fields .input-box-container .input-box-content input[type="submit"]:hover {
    background-color: #3e0202;
    transition: .5s ease-in-out;
}

footer {
    width: 100%;
    height: auto;
    background: #270101;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

#footer-container {
    width: 100%;
}

#footer-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}

#footer-links li {
    list-style: none;
    margin: 0.5rem;
}

#footer-links li a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

#footer-links li a i:hover {
    transform: translateY(-5px);
    transition: .5s ease-in-out;
    color: silver;
}

#footer-links-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}

#footer-links-1 li {
    list-style: none;
    margin: 0.25rem;
}

#footer-links-1 li a {
    text-decoration: none;
    padding-right: 10px;
    color: white;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
}

#footer-links-1 li a:hover {
    color: silver;
    transition: .3s ease;
}

#patent h4 {
    color: white;
    padding: 0.5rem 0;
    font-family: "Inconsolata", monospace;
    font-weight: 500;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    margin: 0.5rem 0;
}

#copy-right {
    color: white;
    margin: 0.2rem 0;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
}

#copy-right p {
    font-size: clamp(0.75rem, 1.5vw, 0.75rem);
}

@media (max-width: 920px) {
    #address-nav {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        background: #270101;
    }

    #links-nav {
        justify-content: space-between;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgba(0, 0, 0, .93);
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1.5rem 0;
    }

    .nav-links li a {
        font-size: 1rem;
    }

    #search-bar {
        order: 2;
    }

    #burger-menu {
        display: block;
        cursor: pointer;
    }

    #burger-menu i {
        font-size: 30px;
    }

}

@media (max-width: 500px) {
    #search-bar {
        display: none;
    }

    #burger-menu i {
        font-size: 30px;
    }

    .nav-links li a {
        font-size: 1.1rem;
    }

}

@media (max-width: 450px) {

    #page2 #page-2-container #page-form::before {
        display: none;
    }
}

